// body,html,body{
//     font-family: $font-family-VarelaRound-Regular;
//     box-sizing: border-box;
//     line-height: 120%;
//     font-size: 1rem;

// }
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: $font-family;
    font-weight: 400;
    font-size: 16px;
    background: #171919;
    color: #fff;
    text-transform: uppercase;
    // height: 100vh;
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: #212529;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(#fff, .25);
    box-shadow: inset 0 0 1px 1px #5C6670;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}



a {
    text-decoration: none;
    display: inline-block;
    outline: none;
    color: #fff;
}

select,
input,
button,
textarea {
    outline: none;
}

select {
    cursor: pointer;
}

section {
    position: relative;
    padding-top: 7.5rem;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

// header subtitle
.headline-left {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 7.3328px;
    opacity: 0.5;
    padding-left: 103px;
    position: relative;
    display: inline-block;

    &::before {
        content: '';
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: #fff;
        left: 0;
        top: 50%;
    }
}

// section title
.title {
    span {
        font-size: 12.5rem;
        color: rgba(#fff, .02);
        font-weight: 800;
        transform: translateX(-50px);
        display: inline-block;
    }

    h3 {
        position: absolute;
        left: 16%;
        top: 38%;
        color: #fff;
        font-size: 5rem;
        font-weight: 800;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 5rem;
            height: 0.0625rem;
            background-color: $green;
        }
    }
}

// section title
.subtitle {
    display: inline-block;
    text-align: right;
    &__head {
        font-weight: 800;
        font-size: 40px;
        padding-right: 10px;
        span{
            font-weight: 100;
        }
    }
}