.surf {
    padding-top: 160px;
    padding-bottom: 120px;
    background-image: url("../img/bigMarker.svg");
    background-repeat: no-repeat;
    background-position: right 129px;
    background-size: auto;
    box-sizing: border-box;
}

.surf__subtitle {
    text-align: right;
    padding-right: 80px;
    margin-top: -86px;
}

.surf-box {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    &:hover {
        transform: translateY(-20px);
        transition: all 0.5s ease-in;
    }

    &__inner {
        min-height: 650px;
        background: rgba($color: #1C2121, $alpha: .85);
        position: relative;
        transition: all .4s ease-in;



        &:hover {
            background: rgba($color: #1C2121, $alpha: .3);


            .surf-box__inner-btn {
                opacity: 1;
            }
        }

        &-title {
            font-weight: 800;
            font-size: 40px;
            line-height: 36px;
            padding: 72px 0 0 40px;
            width: 140px;
        }

        &-location {
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 8px;
            transform: rotate(-90deg);
            position: absolute;
            bottom: 80px;
            left: 40px;
            width: 0;
            height: 0;
            white-space: nowrap;
        }

        &-btn {
            position: absolute;
            bottom: 0%;
            left: 0;
            right: 0;
            text-align: center;
            opacity: 0;
            transition: all .4s ease-in;
        }
    }
}


.surf-slider {
    padding-top: 110px;

    .slider-arrows {
        top: 50px;
        opacity: 0.25;
    }

    .slick-slide:nth-child(4n + 1) {
        .surf-box {
            margin-top: 32px;
        }
    }

    .slick-slide:nth-child(4n + 3) {
        .surf-box {
            margin-top: 89px;
        }


    }

    .slick-current {
        .surf-box__inner {
            background: rgba($color: #1C2121, $alpha: .3);

            &-btn {
                opacity: 1;
            }
        }
    }
}

// slider map
.slider-map{
    max-width: 1200px;
    min-height: 635px;
    background-image: url("../img/worldMapDots.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
}