<header class="header">
    <div class="header__title">go surf</div>
    <!-- header arrows -->
    <div class="header__arrows">
        <a href="">
            <img src="img/arrows-down.svg" alt="">
        </a>
    </div>
    <!-- header arrows -->
    <!-- header map -->
    <div class="header__map">
        <img src="img/map.svg" alt="">
    </div>
    <!-- header map -->
    <!-- header aside -->
    <div class="header__aside">
        <!-- logo -->
        <div class="logo">
            <a href="#">
                <img src="img/logo.svg" alt="">
            </a>
        </div>
        <!-- logo -->
        <!-- navbar -->
        <nav class="menu">
            <ul class="menu__list">
                <li>
                    <a href="#">
                        <img src="img/nav-ico-1.svg" alt=""><span>Surf</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/nav-ico-2.svg" alt=""><span>Travel</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/nav-ico-3.svg" alt=""><span>Sleep</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/nav-ico-4.svg" alt=""><span>Shop</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- navbar -->
        <!-- header search -->
        <div class="header__search"><img src="img/search.svg" alt=""></div>
        <!-- header search -->
        <!-- header date -->
        <div class="header__date">
            20
            <span>06| 2018</span>
        </div>
        <!-- header date -->
        <!-- header location -->
        <div class="header__location">California</div>
        <!-- header location -->
    </div>
    <!-- header aside -->
    <!-- slider -->
    <div class="header__slider">
        <!-- slider item -->
        <div class="header__slider-item slider-item">
            <div class="slider-item__info">
                <div class="slider-item__info-suptitle suptitle-left">Surf</div>
                <div class="slider-item__info-title">North Shore</div>
                <div class="slider-item__info-suptext suptitle-left">Condition</div>
                <div class="slider-item__info-text">Radical</div>
                <a href="#" class="slider-item__info-link">
                    <img src="img/arrows-right.svg" alt="">
                </a>
            </div>
        </div>
        <!-- slider item -->
        <!-- slider item -->
        <div class="header__slider-item slider-item">
            <div class="slider-item__info">
                <div class="slider-item__info-suptitle suptitle-left">Surf</div>
                <div class="slider-item__info-title">South Shore</div>
                <div class="slider-item__info-suptext suptitle-left">Condition</div>
                <div class="slider-item__info-text">Radical</div>
                <a href="#" class="slider-item__info-link">
                    <img src="img/arrows-right.svg" alt="">
                </a>
            </div>
        </div>
        <!-- slider item -->
        <!-- slider item -->
        <div class="header__slider-item slider-item">
            <div class="slider-item__info">
                <div class="slider-item__info-suptitle suptitle-left">Surf</div>
                <div class="slider-item__info-title">West Shore</div>
                <div class="slider-item__info-suptext suptitle-left">Condition</div>
                <div class="slider-item__info-text">Radical</div>
                <a href="#" class="slider-item__info-link">
                    <img src="img/arrows-right.svg" alt="">
                </a>
            </div>
        </div>
        <!-- slider item -->
        <!-- slider item -->
        <div class="header__slider-item slider-item">
            <div class="slider-item__info">
                <div class="slider-item__info-suptitle suptitle-left">Surf</div>
                <div class="slider-item__info-title">East Shore</div>
                <div class="slider-item__info-suptext suptitle-left">Condition</div>
                <div class="slider-item__info-text">Radical</div>
                <a href="#" class="slider-item__info-link">
                    <img src="img/arrows-right.svg" alt="">
                </a>
            </div>
        </div>
        <!-- slider item -->
    </div>
    <!-- slider dots -->
    <div class="slider-dots">
        <!-- slider-dots__item -->
        <div class="slider-dots__item">
            <div class="dots-box">
                <div class="dots-box__number">01</div>
                <div class="dots-box__name">North Shore</div>
            </div>
        </div>
        <!-- slider-dots__item -->
        <!-- slider-dots__item -->
        <div class="slider-dots__item">
            <div class="dots-box">
                <div class="dots-box__number">02</div>
                <div class="dots-box__name">South Shore</div>
            </div>
        </div>
        <!-- slider-dots__item -->
        <!-- slider-dots__item -->
        <div class="slider-dots__item">
            <div class="dots-box">
                <div class="dots-box__number">03</div>
                <div class="dots-box__name">West Shore </div>
            </div>
        </div>
        <!-- slider-dots__item -->
        <!-- slider-dots__item -->
        <div class="slider-dots__item">
            <div class="dots-box">
                <div class="dots-box__number">04</div>
                <div class="dots-box__name">East Shore</div>
            </div>
        </div>
        <!-- slider-dots__item -->
    </div>
    <!-- slider dots -->
    <!-- slider -->

</header>