<!-- container start -->
<div class="container">
<!-- container start -->
<!-- section surf -->
<section class="surf">
    <div class="title">
        <span>surf</span>
        <h3>surf</h3>
    </div>
    <!-- subtitle -->
    <div class="surf__subtitle">
        <div class="subtitle">
            <div class="headline-left">current location</div>
            <div class="subtitle__head">california <span>|</span> usa</div>
        </div>
    </div>
    <!-- subtitle -->
    <!-- surf slider -->
    <div class="surf-slider">
        <!-- slider box  -->
        <div class="surf-box" style="background-image: url(img/surfSlide-1.jpg);"> 
            <div class="surf-box__inner">
                <div class="surf-box__inner-title">Malibu Beach</div>
                <div class="surf-box__inner-location">California | USA</div>
                <div class="surf-box__inner-btn">
                    <a href="#" class="btn"> view <span> surf </span></a>
                </div>
            </div>
        </div>
        <!-- slider box  -->
        <!-- slider box  -->
        <div class="surf-box" style="background-image:url(img/surfSlide-2.jpg);"> 
            <div class="surf-box__inner">
                <div class="surf-box__inner-title">Airlie
                        Beach</div>
                <div class="surf-box__inner-location">Queensland | Australia</div>
                <div class="surf-box__inner-btn">
                    <a href="#" class="btn"> view <span> surf </span></a>
                </div>
            </div>
        </div>
        <!-- slider box  -->
        <!-- slider box  -->
        <div class="surf-box" style="background-image: url(img/surfSlide-3.jpg);"> 
            <div class="surf-box__inner">
                <div class="surf-box__inner-title">Cloud
                        Nine</div>
                <div class="surf-box__inner-location">Siargao | Philippines</div>
                <div class="surf-box__inner-btn">
                    <a href="#" class="btn"> view <span> surf </span></a>
                </div>
            </div>
        </div>
        <!-- slider box  -->
        <!-- slider box  -->
        <div class="surf-box" style="background-image: url(img/surfSlide-4.jpg);"> 
            <div class="surf-box__inner">
                <div class="surf-box__inner-title">Vieux
                        Boucau</div>
                <div class="surf-box__inner-location">Hossegor | France</div>
                <div class="surf-box__inner-btn">
                    <a href="#" class="btn"> view <span> surf </span></a>
                </div>
            </div>
        </div>
        <!-- slider box  -->
        <!-- slider box  -->
        <div class="surf-box" style="background-image: url(img/surfSlide-1.jpg);"> 
            <div class="surf-box__inner">
                <div class="surf-box__inner-title">Malibu Beach</div>
                <div class="surf-box__inner-location">California | USA</div>
                <div class="surf-box__inner-btn">
                    <a href="#" class="btn"> view <span> surf </span></a>
                </div>
            </div>
        </div>
        <!-- slider box  -->
        <!-- slider box  -->
        <div class="surf-box" style="background-image:url(img/surfSlide-2.jpg);"> 
            <div class="surf-box__inner">
                <div class="surf-box__inner-title">Airlie
                        Beach</div>
                <div class="surf-box__inner-location">Queensland | Australia</div>
                <div class="surf-box__inner-btn">
                    <a href="#" class="btn"> view <span> surf </span></a>
                </div>
            </div>
        </div>
        <!-- slider box  -->
        <!-- slider box  -->
        <div class="surf-box" style="background-image: url(img/surfSlide-3.jpg);"> 
            <div class="surf-box__inner">
                <div class="surf-box__inner-title">Cloud
                        Nine</div>
                <div class="surf-box__inner-location">Siargao | Philippines</div>
                <div class="surf-box__inner-btn">
                    <a href="#" class="btn"> view <span> surf </span></a>
                </div>
            </div>
        </div>
        <!-- slider box  -->
        <!-- slider box  -->
        <div class="surf-box" style="background-image: url(img/surfSlide-4.jpg);"> 
            <div class="surf-box__inner">
                <div class="surf-box__inner-title">Vieux
                        Boucau</div>
                <div class="surf-box__inner-location">Hossegor | France</div>
                <div class="surf-box__inner-btn">
                    <a href="#" class="btn"> view <span> surf </span></a>
                </div>
            </div>
        </div>
        <!-- slider box  -->
    </div>
    <!-- surf slider -->
</section>